/**
 *Created by fzc on 2018-5-22
 */
* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: auto;
    background-image: url(../../../common/images/background.jpg);
    background-size: cover;
    min-width: 835px;
}

input {
    height: 22px;
    width: 100%;
    border: none;
    outline: medium;
    line-height: 22px;
}

/*通用 end*/

/*公司名称 start*/
.head {
    height: 70px;
    background-color: rgb(52, 58, 64);
}

.account-name-div {
    float: left;
    height: 70px;
    width: 300px;
    line-height: 68px;
    font-size: 24px;
    font-family: "宋体";
    color: white;
    margin-left: 65px;
}

/*公司名称 end*/
/*首页按钮 start*/
.home-wrap-div {
    float: right;
    height: 70px;
    width: 80px;
    margin-right: 65px;
    color: white;
}

.home-img-div {
    height: 40px;
    text-align: center;
}

.login-text-div {
    font-size: 16px;
    text-align: center;
}

.home-img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

/*首页 end*/
/*表单 start*/
.form-div-class {
    width: 340px;
    height: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -170px;
    margin-top: -150px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(248, 248, 248);
}

form {
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid;
    border-bottom-color: rgb(224, 224, 224);
    font-size: 25px;
    font-family: "微软雅黑";
}

.name,
.pass, .captcha {
    width: 298px;
    height: 42px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    border-radius: 5px;
    line-height: 42px;
    font-family: "微软雅黑";
}

.tips {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.submit {
    width: 120px;
    height: 35px;
    margin-top: 70px;
    border: 1px solid rgb(8, 118, 202);
    text-align: center;
    background-color: rgb(8, 118, 202);
    border-radius: 5px;
    margin: 0 auto;
    line-height: 35px;
    color: white;
}

.name-img-wrap,
.pass-img-wrap {
    width: 14px;
    height: 42px;
    padding: 0px 7px 0px 9px;
    float: left;
}

.name-img {
    background: url(../images/user.png) -154px -64px no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 13px;
}

.name-input-div,
.pass-input-div, .captcha-input-div {
    float: left;
    height: 42px;
    width: 100%;
}

#captcha-img {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 102px;
    height: 40px;
}

.pass-img {
    background: url(../images/password.png) -178px -64px no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 13px;
}

.loginbtn {
    height: 32px;
    line-height: 32px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

#tips {
    color: red;
}

/*表单 end*/